body {
  font: 1.25rem "Century Gothic", Futura, sans-serif;
  margin: 60px;
  background-color: #66bfbf;
}

ol,
ul {
  padding-left: 90px;
}
.list-cur {
  background-color: #40514e;
  color: whitesmoke;
}
.list {
  background-color: #798777;
  color: whitesmoke;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 30px;
}
.game-end {
  background-color: #810000;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  font-size: 1.25rem;
}

.square {
  background: #66bfbf;
  color: brown;
  border: 6px solid teal;
  float: left;
  font-size: 72px;
  font-weight: bold;
  line-height: 102px;
  height: 102px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 102px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 60px;
}
.winner {
  border: solid #ce1212;
}
