body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #66bfbf;
}

ol,
ul {
  padding-left: 30px;
}
.list-cur {
  background-color: #40514e;
  color: whitesmoke;
}
.list {
  background-color: #798777;
  color: whitesmoke;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game-end {
  background-color: #810000;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  font-size: 1.25rem;
}

.square {
  background: #66bfbf;
  color: brown;
  border: 2px solid teal;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}
.winner {
  border: solid #ce1212;
}
